<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet"> 
  <style type="text/css" media="screen">
    @import url("/assets/css/style.css");
  </style>
  <script src="../../assets/scripts/main.js"></script>
  <title>CaffeCalGo</title>
</head>
<body class="bg-image">
  <div class="mask-parent">
    <div class="bg-mask">
      <h1 class="title">CaffeCalGo: Calculate caffeine decay</h1>
      <div class="drink-num">
        <p>Enter the number of drinks or pills.</p>
        <form action="/">
          <input type="number" min="1" class="drinkNum" name="drinkNum">
          <input type="submit">
        </form>
      </div>
      <div id="Drinks">
        {{ range .number}}
        <p>{{ .number }}</p>
        <input type="datetime-local">
        {{ end }}
      </div>

    </div>
    
  </div>

  
</body>
</html>