.bg-image{
  background-image: url('../pexels-thought-catalog-904616.jpg');
  background-size: cover;
  display: flex;
  position: relative;
}

.bg-mask {
  background-color: rgba(255,255,255,0.5);
  color: #000;
  padding: 30px;
}

.title{
  color: #3d3d3d;
  text-align: center;
}