body, html{
  margin: 0;
  padding: 0;
}

footer{
  position: absolute;
  bottom: 0;
}

.charStyle{
  color: rgb(255, 255, 255); 
  font-weight:bold;
}

.submitButton{
  display: block;
  margin-top: 20px;
}

.bg-image{
  background-image: url("/static/cup_books.jpg") ;
  background-size: cover;
  width: 1600px;
  height: 1000px;
  resize: none;
}
.opaque-bg{
  
  height: 100%;
  padding: 30px;
  background: rgba(160, 123, 56, 0.61);
}


.input-form{
  display: block;
  margin: 10px;
}