
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CaffeCalGo</title>
  <link rel="stylesheet" href="/static/index.css">
</head>

<body>
  <div class="bg-image">
    <div class="opaque-bg charStyle">
      <p>The drinks calculated are {{ .numOfDrinks }}</p>
      <p>Method 1: Enter the total amount of caffeine. Please ignore the "Drink amount" field on the right.</p>
      <p>Method 2: Enter the amount of caffeine in mg per 100 ml and the total amount of the drink in the right column.</p>
      <p>Don't worry about the time series, just enter the time as well.</p>

      <form action="/calculated" method="POST">
        <input type="hidden" value="{{ .numOfDrinks }}" name="numOfDrinks">
        {{ range .logList }}
        <div>
          <label>Drink number is {{.Number }}</label>
          <input title="datetime{{ .Number }}" type="datetime-local" name="datetime{{ .Number }}" required>
          <select title="calMethods" name="calMethods{{.Number}}" id="calMethods{{.Number}}">
            <option value="1">Method 1</option>
            <option value="2">Method 2</option>
          </select>
          <label>Caffeine mg : </label>
          <input title="caffeMg{{.Number}}" type="number" name="caffeMg{{.Number}}" min="0" required>
          <label>Drink amount : </label>
          <input title="amount{{.Number}}" type="number" name="amount{{.Number}}" min="0" required value="0" >
        </div>
        <br>
        {{ end }}
        <input type="submit" class="submitButton">
      </form>    
    </div>
  </div>

</body>

</html>
